@using Domain.Entities
@using MiPrimerMVC.Controllers
@using MiPrimerMVC.Models
@model MiPrimerMVC.Models.AdminModel
@{
    ViewBag.Title = "AdminView";
}

<h2>Bienvenido Admin</h2>
<table class="table">
    <h2>Productos Reportados</h2>
    <thead>
        <tr>
            <th>
                
                <img src="https://dl.dropbox.com/s/48uisxcazat1z8p/ProductoReportado.png?dl=0" style="width:50px;height:50px" />
                
            </th>
            <th>
                Producto Reportado
            </th>
            <th>
                Usuario Reportado
            </th>
            <th>
                Usuario Que reporto
            </th>
            
            
        </tr>
        
        @if (Model.ListaDeProductosReportados != null)
        {
            foreach (Reportado operacion in Model.ListaDeProductosReportados)
            {
                <tr>
                    <td>

                        @Html.ActionLink(@operacion.Id.ToString(), "ProductDetail", new { @id = @operacion.Id }, null)
                    </td>


                    <td>@operacion.Producto.Name</td>
                    <td>@operacion.Producto.username</td>
                    <td>@operacion.Producto.Name</td>
                    <td>
                       
                        
                    </td>
                </tr>
            }
        }
    </thead>

</table>
<table class="table">
    <h2>Mensajes al los Vendedores</h2>
    <thead>
        <tr>
            <th>

                <img src="https://dl.dropbox.com/s/48uisxcazat1z8p/ProductoReportado.png?dl=0" style="width:50px;height:50px" />

            </th>
            <th>
                Mensaje a vendedor
            </th>
           


        </tr>
        
        @if (@Model.MensajesTwilio != null)
        {
            foreach (MensajesTwilio peracion in Model.MensajesTwilio)
            {
                <tr>
                    <td>

                        @Html.ActionLink(@peracion.Id.ToString(), "ProductDetail", new { @id = @peracion.Id }, null)
                    </td>


                    <td>@peracion.mensaje</td>
                    <
                    <td><img src="https://dl.dropbox.com/s/bf2iryuhwkwjjnh/SendeMessage.png?dl=0" style="width:50px;height:50px" /></td>
                </tr>
            }
        }
    </thead>

</table>