@model Domain.Entities.Products
@{
    ViewBag.Title = "ProductDetail";
}

<div class="row">
    @Html.LabelFor(x => x.Id)
    @Html.ValueFor(x => x.Id)
    @Html.LabelFor(x => x.Name)
    @Html.ValueFor(x => x.Name)
    @Html.LabelFor(x => x.Preci)
    @Html.ValueFor(x => x.Preci)
    @Html.LabelFor(x => x.UrlImage)
    @Html.ValueFor(x => x.UrlImage)
    @Html.LabelFor(x => x.username)
    @Html.ValueFor(x => x.username)
</div>

