@using Domain.Entities
@using MiPrimerMVC.Controllers
@using MiPrimerMVC.Models
@model MiPrimerMVC.Models.ProductReportModel
@{
    ViewBag.Title = "Reportados";
}

<h2>   Productos Reportados por usuario</h2>


    <
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <h3></h3>
                </div>
                <div class="col-md-6 column">
                    <img alt="140x140" src="http://lorempixel.com/140/140/" />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                           Producto Reportado
                        </th>
                        <th>
                           Dueño del Producto
                        </th>
                        <th>
                           Persona que reporto el producto
                        </th>

                    </tr>

                    @Model.ListaDeProductosReportados.ToList();
                    @if (Model.ListaDeProductosReportados != null)
                    {
                        foreach (Reportado operacion in Model.ListaDeProductosReportados)
                        {
                            <tr>
                                <td>

                                    @Html.ActionLink(@operacion.Id.ToString(), "ProductDetail", new { @id = @operacion.Id }, null)
                                </td>


                                <td>@operacion.Producto.Name</td>
                                <td>@operacion.Usuario.Name @operacion.Usuario.Lastname</td>
                                <td>@operacion.Producto.username</td>
                                <td>
                                    <a href='@Url.Action("CrearReportado", "Register", new { @id = @operacion.Id },null)' target="_blank">
                                        <img src="https://dl.dropbox.com/s/48uisxcazat1z8p/ProductoReportado.png?dl=0" style="width:50px;height:50px" />
                                    </a>
                                    <a href='@Url.Action("UsuarioVendedor", "Register", new { @id = @operacion.Id },null)' target="_blank">
                                        <img src="https://dl.dropbox.com/s/rf3spwtorcszx4m/IconUser.png?dl=0" style="width:50px;height:50px" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                   
                        




                   


                </thead>

            </table>
        </div>
    </div>

